In [22]:
# Data Science Tools and Ecosystem

# In this notebook, Data Science Tools and Ecosystem are summarized.

## Some of the popular languages that Data Scientists use are:

### Some of the popular languages that Data Scientists use are:
1. Python
2. Java
3. C
4. C++

### Some of the commonly used libraries used by Data Scientists include:
1. Pandas
2. NumPy
3. Matplotlib
4. TensorFlow

| Data Science Tools      |
|-------------------------|
| Jupyter Notebook        |
| RStudio                 |
| GÄ°T HUB                 |

# Introduction to Arithmetic Expressions in Python

Arithmetic expressions in Python allow us to perform basic mathematical operations such as addition, subtraction, multiplication.

### Below are a few examples of evaluating arithmetic expressions in Python

In [52]:
## This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [60]:
## This will convert 200 minutes to hours by diving by 
200 / 60

3.3333333333333335

## Objectives :
- PAYTHON
- C ++
- JAVA
- C

## Author
### ABDULRAHMAN MAHZUN.